.header {
    background-color: #028090;
    box-shadow: 0 1px 5px #000;
    color: #080817;
    /* cursor: pointer; */
    display: flex;
    font-family: Montserrat,sans-serif;
    /* font-size: 50px; */
    /* height: 100px; */
    justify-content: center;
}

.title {
    margin-top: 5px;
    color: white;
    text-decoration-line: overline;
    font-weight: bolder;
    font-size: 24px;
}

.logo {

    margin-right: 1500px;

    margin-top: 3px;
}

.nav-logo {

    width: 74px;
    height: 60px;
    border-radius: 12px;
    margin-left: 75px;

}

@media (max-width: 1000px) {
    .header {
        padding-top: 15px;
        font-size: 6.4vw;
    }
}